<div class="new-wrapper" id="background-image-new" style="margin-top: 0px; margin-bottom: 70px;">
  <div class="container flex-container">
    <div class="flex-item">
      <h2 style="color: black; text-align: center;">Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs form-suit-shared" style="color: black;">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <% if @user.photo.url.nil? %>
            <%= cl_image_tag("tzcn9jxryoawvskg0s80.png", width: 200, height: 200, crop: :fill) %>
          <% else %>
            <%= cl_image_tag @user.photo, height: 200, width: 300, crop: :fill %>
          <% end %>
          <%= f.input :photo,
                      required: false %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>

      <h3 style="margin:0;">Cancel my account</h3>

      <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
   </div>
  </div>
</div>
