
  <div class="">
   <!--  <p> Rent this awesome suit </p> -->
    <div
      id="renting-form-div"
      data-rentings="<%= @rentings_dates.to_json %>"
    >
      <%= simple_form_for [@suit, @renting], html: { class: "" } do |f| %>
        <div class="row">
            <div class="col-xs-12 col-md-5">
              <%= f.input :start_date, as: :string, input_html: {class: "datepicker date-holder"}, label:false %>
            </div>
            <div class="col-xs-12 col-md-5">
              <%= f.input :end_date, as: :string, input_html: {class: "datepicker date-holder"}, label:false %>
            </div>
            <div class="col-xs-12 col-md-2">
              <%= f.submit "Reserve this suit", class: "btn btn-success" %>
            </div>
        </div>
      <% end %>
    </div>
    <!-- <div> -->
      <%#= link_to "Back", suits_path, class: 'btn btn-primary' %>
    <!-- </div> -->
  </div>
