<div id="renting-form-div" data-rentings="<%= @rentings_dates.to_json %>">
  <%= simple_form_for [@suit, @renting], html: { class: "" } do |f| %>
    <%= f.input :start_date, as: :string, input_html: {class: "datepicker date-holder"}, label:false %>
    <%= f.input :end_date, as: :string, input_html: {class: "datepicker date-holder"}, label:false %>
    <div class="text-center" style="padding-top: 10px;">
      <%= f.submit "Reserve this suit", class: "btn yellow-btn" %>
    </div>
  <% end %>
</div>
