<div style="font-weight: lighter; font-size: 16px; margin-bottom: 70px;">
  <%= simple_form_for @suit,
  wrapper: :horizontal_form,
  wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select
  } do |f| %>
    <%= f.input :name, label: "Name your suit" %>
    <%= f.input :color, collection: ["Blue", "Black", "Red", "Yellow", "Green", "Purple"] %>
    <%= f.input :description, label: "Please give a short description"  %>
    <%= f.input :style, collection: ["Classic suit", "Elegant tuxedo", "Eccentic suit"] %>
    <%= f.input :size, collection: ["XS", "S", "M", "L", "XL"] %>
    <%= f.input :price_per_day, label: "Price per day" %>
    <%= f.input :address, label: 'Where is the suit?' %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="text-center" style= "padding-top: 10px;">
      <%= f.submit "Submit", class: "btn yellow-btn" %>
    </div>
  <% end %>
</div>
