<div style="font-weight: lighter;">
  <%= simple_form_for @suit do |f| %>
    <%= f.input :name, label: "Name your suit"  %>
    <%= f.input :color, collection: ["Blue", "Black", "Red", "Yellow", "Green", "Purple"] %>
    <%= f.input :description, label: "Please give a short description"  %>
    <%= f.input :style, collection: ["Classic suit", "Elegant tuxedo", "Eccentic suit"] %>
    <%= f.input :size, collection: ["XS", "S", "M", "L", "XL"] %>
    <%= f.input :price_per_day, label: "Price per day in euro" %>
    <%= f.input :address, label: 'Where is the suit?' %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Submit", class: "btn btn-success" %>
  <% end %>
</div>
