<div class="main-container">

  <div class="container" style="margin: 35px 20px 35px 0px;">

    <div class="row">
      <% @suits.each do |suit| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="margin-bottom: 10px;">
        <div class="wrapper">
          <div class="card-container">
            <% if suit.photo.url.nil? %>
              <% url2 = cl_image_path('placeholder090821.png') %>
            <% else %>
              <% url2 = cl_image_path suit.photo %>
            <% end %>
            <div class="top" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= url2 %>');"></div>
            <div class="bottom">
              <h1><%= suit.name %></h1>
              <div style="display: flex; justify-content: space-between;">
                <p style="flex-grow: 1;"><%= suit.style %></p>
                <p style="padding-right: 6px;"><%= suit.reviews.count %> reviews</p>
                <p style="font-size: 12px;">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </p>
              </div>
            </div>
          </div>
            <% if suit.user.photo.url.nil? %>
              <%= cl_image_tag("vh5z2ujeausr6hlxy3zf", width: 80, height: 80, crop: :thumb, gravity: :face, class: 'card-avatar') %>
            <% else %>
              <%= cl_image_tag suit.user.photo, width: 80, height: 80, crop: :thumb, gravity: :face, class: 'card-avatar' %>
            <% end %>
            <p class="card-price">£ <%= suit.price_per_day %></p>
          <%= link_to suit_path(suit), class: 'card-link' do %><% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="map-container">
<!--    Formulaire de recherche-->
  <div class="search search-bar search-bar-index" style="margin: 0 0 35px 0;">
    <%= form_tag suits_path, method: :get do %>
      <%= select "color", "color_selector", ["Blue", "Black", "Red", "Yellow", "Green", "Purple"], include_blank: "Color" %>

      <%= select "style", "style_selector", ["Classic suit", "Elegant tuxedo", "Eccentic suit"], include_blank: "Style" %>
      <%= select "size", "size_selector", ["XS", "S", "M", "L", "XL"], include_blank: "Size" %>
      <%= submit_tag "Filter" %>
    <% end %>
  </div>

    <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>

</div>

<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
