<div class="main-container">

  <div class="container" style="margin: 0px 10px 20px 10px;">
    <div class="row">
      <% @suits.each do |suit| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="wrapper">
          <div class="card-container">
            <% if suit.photo.url.nil? %>
              <% url2 = cl_image_path('placeholder090821.png') %>
            <% else %>
              <% url2 = cl_image_path suit.photo %>
            <% end %>
            <div class="top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url2 %>');"></div>
            <div class="bottom">
              <h1 style="width: 200px;"><%= suit.name %></h1>
            </div>
          </div>
          <!-- <div class="inside">
            <div class="icon"><i class="material-icons">info_outline</i></div>
            <div class="contents">
              <p>Style: <i><%#= suit.style %></i></p>
              <p>Size: <%#= suit.size %></p>
              <p>Description:</p>
              <p><i><%#= suit.description %></i></p>
            </div>
          </div> -->
            <% if suit.user.photo.url.nil? %>
              <%= cl_image_tag("vh5z2ujeausr6hlxy3zf", width: 80, height: 80, crop: :thumb, gravity: :face, class: 'card-user') %>
            <% else %>
              <%= cl_image_tag suit.user.photo, width: 80, height: 80, crop: :thumb, gravity: :face, class: 'card-user' %>
            <% end %>
            <p class="card-price"><%= suit.price_per_day %> €</p>
          <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
          <%= link_to suit_path(suit), class: 'card-link' do %><% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>">
  </div>

</div>

<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
