<% if @suit.photo.url.nil? %>
  <% url2 = cl_image_tag("placeholder090821.png") %>
<% else %>
  <% url2 = cl_image_tag @suit.photo %>
<% end %>

<div class="container" style="margin-bottom: 70px; display: flex;">
  <div class="row">
    <div class="show-left col-xs-4">
      <div class="wrapper" style="height: 525px">
        <div class="card-container">
          <% if @suit.photo.url.nil? %>
            <% url2 = cl_image_path('placeholder090821.png') %>
          <% else %>
            <% url2 = cl_image_path @suit.photo %>
          <% end %>
          <div class="top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url2 %>');"></div>
          <div class="bottom">
            <div class="left">
              <div class="details" style="display: flex; align-items: center; justify-content: space-between;">
                <h1><%= @suit.name %></h1>
                <p><%= @suit.price_per_day %> €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="show-right col-xs-8">
      <div class="description-container">
          <div class="col-xs-6">
            <h2><%= @suit.name %></h2>
            <h3>By <%= User.find(@suit.user_id).first_name %> <%= User.find(@suit.user_id).last_name %> </h3>
          </div>
          <div class="col-xs-6 description-content">
            <span>
              <p>Price:</p>
              <p><%= @suit.price_per_day %> € / day</p>
            </span>
            <span>
              <p>Size:</p>
              <p><%= @suit.size %></p>
            </span>
            <span>
              <p>Color:</p>
              <p><%= @suit.color %></p>
            </span>
          </div>
      </div>
      <!-- <p>This suit is not available to this dates : </p> -->
      <% @rentings.each do |renting| %>
        <ul>
        <% if renting.suit_id == @suit.id %>
          <li>
            <%= renting.start_date %> to <%= renting.end_date %>
            <% if policy(renting).destroy? %>
              <%= link_to "(delete)", suit_path(@suit),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
            <% end %>
          </li>
        <% end %>
        </ul>
      <% end %>

      <%= render 'formrenting', renting: @renting %>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 0; margin-bottom: 70px;">
  <div id="map" style="width: 100%; height: 600px; margin-top: 0;" data-markers="<%= @markers.to_json %>">
  </div>
</div>
