<div class="container" style="margin-bottom: 70px;">

  <div style="display:flex;">

    <div class="show-image">
      <div class="card-container">
        <% if @suit.photo.url.nil? %>
          <% url2 = cl_image_path('placeholder090821.png') %>
        <% else %>
          <% url2 = cl_image_path @suit.photo %>
        <% end %>
        <div class="top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url2 %>');">
        </div>
      </div>
    </div>

    <div class="description-container" style="flex-grow: 1;">
      <h1 style="margin: 0;"><%= @suit.name %></h1>
      <h3>
        By <%= User.find(@suit.user_id).first_name %> <%= User.find(@suit.user_id).last_name %>
      </h3>
      <br>
      <p>£ <%= @suit.price_per_day %> / day</p>
      <p>Size: <%= @suit.size %></p>
      <p class="dot" style="background-color: <%= @suit.color.downcase %>;"></p>
      <br>
      <br>
      <p style="font-weight: lighter;">Tuxedo is 100% super-fine Italian merino wool</p>
      <p style="font-weight: lighter;">Jacket has One-button closure</p>
      <p style="font-weight: lighter;">Jacket has 100% silk satin shawl collar</p>
      <p style="font-weight: lighter;">This complete outfit includes 6 items</p>
    </div>

    <div style="padding-top: 10px;">
      <%= render 'formrenting', renting: @renting %>
    </div>

  </div>

  <h3 style="color: black; padding: 0px 70px;">Reviews</h3>

    <% @reviews.each do |review| %>
      <% if Renting.find(review.renting_id).suit_id == @suit.id %>
        <% User.find(review.user_id).first_name %> <% User.find(review.user_id).last_name %>
        <p><%= review.title %>
          <% review.rate.to_i.times do %>
            <i class="fas fa-star" style="font-size: 12px;"></i>
          <% end %>
          <% (5 - review.rate.to_i).times do %>
            <i class="far fa-star" style="font-size: 12px;"></i>
          <% end %>
        </p>
        <p style="font-weight: lighter"><%= review.content %></p>
      <% end %>
    <% end %>

</div>

<div class="container" style="padding-top: 0; margin-bottom: 70px;">
  <div id="map" style="width: 100%; height: 600px; margin-top: 0;" data-markers="<%= @markers.to_json %>">
  </div>
</div>
