<div class="container">
  <h2><%= @suit.name %></h2>
  <h3>By <%= User.find(@suit.user_id).first_name %> <%= User.find(@suit.user_id).last_name %> </h3>

  <% if @suit.photo.url.nil? %>
    <%= cl_image_tag("placeholder090821.png", width: 200, height: 300, crop: :fill) %>
  <% else %>
    <%= cl_image_tag @suit.photo, height: 200, width: 300, crop: :fill %>
  <% end %>

  <p>Color: <%= @suit.color %></p>
  <p>Size: <%= @suit.size %></p>
  <p>Description: <%= @suit.description %></p>
  <p>Price: <%= @suit.price_per_day %></p>

  <% if policy(@suit).edit? %>
    <%= link_to "Update", edit_suit_path(@suit) %>
  <% end %>

  <h3>This suit is not available to this dates : </h3>
  <% @rentings.each do |renting| %>
  <ul>
    <% if renting.suit_id == @suit.id %>
      <li>
        <%= renting.start_date %> to <%= renting.end_date %>
        <% if policy(renting).destroy? %>
          <%= link_to "(delete)", suit_path(@suit),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% end %>

  <%= render 'formrenting', renting: @renting %>
</div>
