<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(35,35,35,0.5) 50%), url('https://res.cloudinary.com/dnddzhvyj/image/upload/v1534845337/suit-banner.jpg'); background-size: cover; background-repeat: no-repeat;">
  <div class="banner-content" style="margin-top: -70px;">
    <h1>Suit-up</h1>

    <p><span id="banner-typed-text">Not all superheroes wear capes</span></p>

    <%#= link_to "Rent a suit now", suits_path, class: "btn btn-sm yellow-btn" %>

    <div class="search-bar search-bar-home">
      <%= form_tag suits_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a suit perfect for me"
        %>
      <% end %>
    </div>

  </div>
</div>
  <!-- Testimonials -->
  <div class="container" style="padding: 0 200px; margin-top: 30px; margin-bottom: 35px;">
  <div class="flex-container-for-testimonials">

    <div class="card-description-testimonials text-center flex-item">
      <%= link_to image_tag("logo-camion.png", border: 0), {class: 'testimonial-img'}%>
      <p class="testimonial-quote">"The finest suits in the World"</p>
    </div>

    <div class="card-description-testimonials text-center flex-item">
      <%= link_to image_tag("logo-gq.png", border: 0), {class: 'testimonial-img'}%>
      <p class="testimonial-quote">"The best a man can get"</p>
    </div>



    <div class="card-description-testimonials text-center flex-item">
      <%= link_to image_tag("logo-monsieur.png", border: 0), {class: 'testimonial-img'}%>
      <p class="testimonial-quote">"We do approve. You should too."</p>
    </div>
  </div>
</div>
