<div class="wrapper-show-renting">
  <div class="container">

    <div class="">
      <div class="row">
        <div class="col-xs-3">
          <%= cl_image_tag(@renting.suit.photo,
                width: 200, height: 300, crop: :fill) %>
        </div>
        <div class="col-xs-9">
          <div>

            <h1>Order Recap</h1>
            <p>Nom du costume: <%= @suit.name %></p>
            <p>Propriétaire: <%= @owner.first_name %> <%= @owner.last_name%></p>
            <p>Numéro de téléphone: <%= @owner.phone %></p>
            <p>Email: <%= @owner.email %></p>
            <p>Dates de réservation: <%= @renting.start_date %> - <%= @renting.end_date %></p>
            <p>Prix: <%= @suit.price_per_day * (@renting.end_date - @renting.start_date).numerator %> €</p>
          </div>
        </div>
      </div>
    </div>

    <div class="order-review-and-chat">

      <% if current_user == @renting.suit.user %>
      <% elsif DateTime.now.to_date > @renting.end_date %>
        <%= render 'formreview', review: @review %>
      <% end %>

    </div>

    <div class="chat-wrapper flex-item">
      <h1>Chat</h1>

      <div id="messages">
        <% @messages.order(id: :desc).each do |message| %>
          <%= render 'messages/show', message: message %>
        <% end %>
      </div>

      <div id="renting-form-div">
        <%= render 'messages/form', renting: @renting, message: @message %>
      </div>
    </div>
  </div>
</div>
