<div class="wrapper-show-renting">
  <div class="rate-your-order container">

    <%= render 'formreview', review: @review %>

    <div class="order-review-and-chat flex-container">

      <div class="order-recap flex-item">
       <h1>Order Recap</h1>
       <p>Nom du costume</p>
       <p>Propriétaire</p>
       <p>Numéro de téléphone:</p>
       <p>Email</p>
       <p>Dates de réservation</p>
       <p>Prix</p>
      </div>

      <div class="chat-wrapper flex-item">
        <h1>Chat</h1>

        <div id="renting-form-div">
          <%= simple_form_for [@renting, @message] do |f| %>
          <%= f.input :content, label:'Write your message' %>
          <%= f.submit "Leave a message", class: "btn yellow-btn text-center" %>
          <% end %>
        </div>


        <ul>
          <% @messages.each do |message| %>
          <li>
            <%= User.find(message.user_id).first_name %>
            <%= message.date.strftime "%Y-%m-%d %H:%M" %>
            <%= message.content %>
          </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

</div>
